<div class="page-header customheader">
    <h3>Guilherme Malfatti | McFadyen</h3>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/guilhermemalfatti/shopping-cart-web-app"><span class="glyphicon glyphicon-download"></span> Source on GitHub - web app</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/guilhermemalfatti/shoppingCartAPI"><span class="glyphicon glyphicon-download"></span> Source on GitHub - API</a>
    <h5>Ecommerce Products Display Layout</h2>        
</div>