<!DOCTYPE html>
<html>
    <head>
    <% include ../../partial/header.ejs %>
    <script type="text/javascript" src="static/js/cart.js"></script>  
    </head>

    <body>

    <% include ../../partial/nav.ejs %>
    
    <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%"></th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: products">
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin" data-bind="text: $root.formatCommerceId(id)">ID</h4>
                                    <p data-bind="text: $root.formatProductId(product_id)"></p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price"></td>
                        <td data-th="Quantity">
                            <input type="number" class="form-control text-center"  data-bind="value: quantity">
                        </td>
                        <td data-th="Subtotal" class="text-center" data-bind="text: $root.formatCurrency(amount)"></td>
                        <td class="actions" data-th="">
                            <button class="btn btn-danger btn-sm" data-bind="click: $root.removeItem"><i class="fa fa-trash-o"></i></button>								
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <div data-bind="if: products().length == 0 && notFoundProducts" >There aren't any products in the cart....</div>
                    <tr>
                        <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong data-bind="text: formatTotalCurrency(cartAmount())"></strong></td>
                        <td><a href="#" data-bind='click: $root.todo' class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>
